<div class="container">
    <h1>Perfil del estudiante</h1>
    <img src="https://media.licdn.com/dms/image/D4D03AQEokHudg_iUmw/profile-displayphoto-shrink_200_200/0/1681494053278?e=2147483647&v=beta&t=ofU7DbtjkeMtr0bNNECQbuhIg1qsgH8t84iz9gz2u-k" alt="Foto del Estudiante" class="student-photo">
  
    <div class="info-container">
        <p><strong>Nombre:</strong> Derihan Arnoldo Guevara Solorzano</p>
        <p><strong>Habilidades Técnicas:</strong> Java, Angular, Excel, CRM, ERP, SAP</p>
        <p><strong>Contacto:</strong> guevaraderian1&#64;gmail.com</p>
        <p><strong>Tecnologías, Lenguajes y Herramientas:</strong> HTML, CSS, JavaScript, TypeScript, Git, Bootstrap, Angular CLI, Python,</p>
        <p><strong>Proyectos Destacados:</strong> Desarrollo de analisis de datos utilizando Numpy, Pandas y tensorflow.</p>
        <p><strong>UX/UI:</strong> Experiencia en diseño de interfaces de usuario intuitivas y amigables.</p>
        <p><strong>Habilidades Blandas:</strong> Comunicación efectiva, trabajo en equipo, resolución de problemas, Atención al detalle.</p>
        <p><strong>Idiomas:</strong> Español (nativo), Inglés (80%).</p>
        <p><strong>Sinceridad:</strong> Compromiso con la honestidad y la integridad en todo momento.</p>
        <p><strong>Objetivos:</strong> Desarrollar habilidades avanzadas en desarrollo web y contribuir a proyectos significativos en la industria.</p>
        <p><strong>Aficiones:</strong> Programación, lectura, deportes al aire libre.</p>
        <p><strong>Intereses:</strong> Tecnología, innovación, desarrollo personal y profesional.</p>
        <p><strong>Divulgación y Contribuciones:</strong> Participación en eventos de la comunidad de programación local, contribuciones a foros en línea y blogs técnicos.</p>
        <p><strong>Experiencia Laboral:</strong> Analista de datos</p>
        <p><strong>Estado Laboral:</strong> Actualmente empleado y abierto a nuevas oportunidades laborales.</p>
        <p><strong>About Me:</strong> Apasionado por la tecnología y el desarrollo web, siempre buscando aprender y crecer tanto personal como profesionalmente.</p>
    </div>
    
    <button (click)="navigateHome()">Inicio</button>
</div>
